.buynow {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
}

.cryptocoin-icon {
  max-width: 50px;
  width: 100%;
}

.card {
  text-align: center;
  width: 170px;
  cursor: pointer;
  margin: 0 10px;
}

.card.selected {
  border: 3px solid #41cc16;
}

.form {
  max-width: 500px;
  margin: 50px 20px;
}

.form .fa-exchange-alt {
  line-height: unset;
  padding: 0 10px;
}

.TransHist {
  margin-left: 10px;
}